@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 10px;
}

#nav a {
  font-weight: bold;
  color: grey;
  background: pink;
}

#nav a.router-link-exact-active {
  color: pink;
  color: white;
}

ul{
  list-style: none;
}
ul li{
  display: inline-block;
  padding: 10px; 
  margin-left: 10px;
  width: 120px; 
  font-size: 1em;
  width: 150px;
  color: blue
}

footer{
  margin-top: 50px;
  font-size: 0.7em;
  font-style: italic;
  color: lightseagreen;

}