body {
    font: 20px/25px verdana
}

[v-cloak] {
    display: none;
}

nav ul li {
    display: inline-block;
    width: 200px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
}

.activa {
    display: block;
    color: red;
    border: solid 1px red;
}

.juego,
.juego li {
    width: 900px;
    text-align: left;
    padding: 15px;
}

.green {
    color: coral;
}

.seleccionar {
    color: red;
}

.noamo {
    background: url(../img/no_fav.png) no-repeat left center;
    padding: 35px;
    color: grey;
}

.amo {
    color: coral;
    background: url(../img/fav.png) no-repeat left center;
    padding: 35px
}

form {
    margin: 60px;
    width: 500px
}

form input {
    width: 500px;
    height: 30px;
    margin: 30px 0px;
}

h1 {
    margin-top: 60px;
    margin-left: 30px;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    background: DeepSkyBlue;
    border: none;
    color: white;
    font-weight: bold;
}